[
  {
    "name": "sandbox",
    "mcpUrl": "https://sandbox-mcp.kubex.ai",
    "authorizationToken": ""
  },
  {
    "name": "sandboxuat",
    "mcpUrl": "https://sandboxuat-mcp.kubex.ai",
    "authorizationToken": ""
  }
]
